

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


.ItemDetail{
    font-family: 'Montserrat', sans-serif;
    display: grid;
    justify-content: left;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 20px 40px 20px 250px 10px;
    gap: 30px;
    grid-template-areas:
    "img categoria"
    "img titulo"
    "img precio"
    "img descripcion"
    "img boton";
    margin: 30px;
    padding: 10px;
}

.imgItemDetail{
    grid-area: img;
    height: 500px;
}

.categoriaItemDetail{
    grid-area: categoria;
    font-size: 10px;
    font-weight: 200;
    text-transform: uppercase;
}

.tituloItemDetail{
    grid-area: titulo;
    font-weight: 300;
    font-size: 20px;
}

.precioItemDetail{
    grid-area: precio;
    font-weight: 300;
    font-size: 15px;
}

.descripcionItemDetail{
    grid-area: descripcion;
    font-weight: 200;
    font-size: 12px;
    text-align: justify;
}

.botonItemDetail{
    grid-area: boton;
    font-weight: 300;
    font-size: 12px;
    background-color: rgba(233, 233, 233, 0.509);
}